.body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 320px;
  background-color: #000;
  border-radius: 15px;
  padding: 20px;
}

.display {
  background-color: #333;
  color: #fff;
  text-align: right;
  padding: 20px;
  font-size: 2em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;

}

.btn:hover {
  background-color: #555;
}

.operator {
  background-color: orange;
}

.zero {
  grid-column: span 2;
  background-color: #333; /* Темный фон */
  color: white; /* Белый текст */
  border: none; /* Убираем границы */
  border-radius: 35px; /* Закругленные углы */
  padding: 15px 30px; /* Внутренние отступы для размеров кнопки */
  font-size: 1.5em; /* Размер текста */
  cursor: pointer; /* Указатель курсора при наведении */
  display: inline-block; /* Для предотвращения расширения кнопки на всю ширину */
  text-align: center;
}

.zero:hover {
  background-color: #555;
}


